<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lesson_section.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @lesson_section.content %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lesson_section.course %>
</p>

<%= link_to 'Edit', edit_lesson_section_path(@lesson_section) %> |
<%= link_to 'Back', lesson_sections_path %>
